.title{
    text-align: center;
    color: black;
    lighting-color: 0.5rem;
    font-size: 32px;
}
img
{
    height: 200px;
    width: 200px;
}
.sock_style
{
    font-size: 16px;
    color: #A52A2A;
}
.top-right
{
    margin-right: 10px;
    flex-basis: 72%;
    max-width: 72%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    line-height: 0.2;
}
.btn svg {
    width: 1em;
    height: 1em;
}
.buy{
    color: red;
}
.row2
{
    background-color: #ffd4aa;
}